# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
**/node_modules

# testing
/coverage

# next.js
/ui/.next/
/ui/out/

# production
/ui/build

# env files (can opt-in for committing if needed)
**/.env

# vercel
/ui/.vercel

# typescript
/ui/*.tsbuildinfo
/ui/next-env.d.ts

# config files
/api/config/*
/api/logs/*
/extensions/*

!.gitkeep
